<mat-card> <mat-card-header>Project List</mat-card-header> <mat-card-content>
<table>
	<thead>
		<th>Name</th>
		<th>Description</th>
	</thead>
	<tbody>
		<mat-list> <mat-list-item *ngFor="let project of projects">
		<tr>
			<td><a mat-button [routerLink]="['/project-edit', project.id]">{{project.name}}</a></td>
			<td mat-button >{{project.description}}</td>
		</tr>
		</mat-list-item> </mat-list>
	</tbody>
</table>
</mat-card-content>
<button mat-fab color="primary" [routerLink]="['/project-add']">Add</button>
</mat-card>
 